*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: #082713;
    color: #a6bdae;
    overflow-x: hidden;
    min-height: 100vh;
}

.header,
.footer,
.card {
    background: #0a3117;
}

.header {
    --header-height: 10vh;
    min-height: var(--header-height);
    padding: 0.5rem 1.1rem;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.menu-button {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 0.2rem;
    font-size: 2.2rem;
    background: #4a7c5b;

    user-select: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #48815b;
}

.home__logo {
    height: 2.3rem;
}

.home__title {
    margin-left: 0.6rem;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
}

/* Nav */

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: var(--header-height);
    right: 0;
    visibility: hidden;

    padding: 0.6rem 0;
    min-width: 40vw;
    background: #023d10ee;
    color: inherit;
    border-bottom-left-radius: 1rem;
    border-bottom: 2px solid #a6bdae33;
    border-left: 2px solid #a6bdae33;
    margin-right: -40vw;
    transition: 0.1s;
}

.menu.menu--is-open {
    margin-right: 0;
    visibility: visible;
}

.menu__item {
    padding: 0.8rem;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    color: inherit;
    position: relative;
}

.menu__item::after {
    content: '';
    display: block;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid #a6bdae;
    width: 20vw;
}

.menu__item:last-child::after {
    display: none;
}

.menu__item:hover,
.menu__item:focus {
    text-decoration: underline;
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width: 600px) {
    .menu {
        position: relative;
        margin-right: 0;
        visibility: visible;
        display: flex;
        flex-direction: row;
        align-items: center;
        top: 0;
        border-radius: 0;
        border: none;
        background: inherit;
        padding: 0rem;
        min-width: min-content;
    }

    .menu__item {
        padding: 1rem 1.2rem;
        outline: none;
    }

    .menu__item::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 25%;
        border-right: 1px solid #a6bdae;
        border-bottom: none;
    }

    .menu-button {
        display: none;
    }
}

/* Main */

main {
    padding: 1.5vh 0;
    width: 95vw;
    min-height: 77vh;
    margin: auto;
}

main * + * {
    margin-top: 1rem;
}

.large-heading {
    margin-top: 2.4rem;
    margin-bottom: 3rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.divider {
    width: 80%;
    margin: 2rem auto;
    border-bottom: 1px solid #a6bdae;
}

.card {
    display: block;
    border-radius: 0.6rem;
    padding: 1rem;
    font-size: 1.2rem;
}

.card h1 {
    text-align: center;
}

.image-card {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 0.6rem;
}

.image-card:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
}

.image-card__image {
    width: 100%;
    display: block;
}

.magnifiable-image {
    cursor: zoom-in;
}

.magnifiable-image--is-magnified {
    width: auto;
    max-width: 90%;
    height: auto;
    max-height: 90%;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.2rem;
    cursor: zoom-out;
    box-shadow: 0 0 1000px 0 #000;
}

.image-card__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: #d2e4e3;
    text-align: center;
    text-decoration: none;
    text-shadow: 0.1rem 0.1rem 0.7rem #000;
}

footer {
    margin-top: 2rem;
    min-height: 17vh;
    padding: 25px;
    text-align: center;
    position: sticky;
    bottom: 0;
}

footer * + * {
    margin-top: 0.5rem;
}

footer a {
    color: #03b9aa;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width: 320px) {
    main {
        width: 90vw;
    }
    .image-card__text {
        font-size: 1.7rem;
    }
}

/* smartphones, Android phones, landscape iPhone */
@media (min-width: 480px) {
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width: 600px) {
    main {
        width: 70vw;
    }
    .image-card__text {
        font-size: 2.2rem;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 801px) {
    .image-card__text {
        font-size: 2.9rem;
    }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width: 1025px) {
    main {
        width: 60vw;
    }
}

/* hi-res laptops and desktops */
@media (min-width: 1281px) {
    main {
        width: 50vw;
    }
}
